name: Nginx images

on:
  push:
    branches: [ main ]
    paths:
      - 'nginx/**'
      - '.github/workflows/nginx.yml'
  pull_request:
    paths:
      - 'nginx/**'
      - '.github/workflows/nginx.yml'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

permissions:
  contents: read

jobs:

  build:

    runs-on: ubuntu-24.04

    steps:

      - uses: actions/checkout@v6

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          image: tonistiigi/binfmt:latest
          platforms: amd64,arm64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Nginx images
        run: make nginx-bake-test
